:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: normal;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.compare {
  word-break: break-all;
  position: fixed;
  z-index: 1;
  text-decoration: underline;
  top: 0;
  left: 0;
  padding: 20px;
  line-height: 2.5;
  width: 500px;
  height: 500px;
  background-color: rgb(144, 150, 156);
  opacity: 0.8;
}
