@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  outline: none;
  display: inline-block;
  margin: 10px 0;
}

.slate-canvas {
  margin: 0 auto;
  width: 500px;
}

.slate-canvas__item {
  position: relative;
}

.slate-canvas__item-compare {
  word-break: break-all;
  position: absolute;
  z-index: 1;
  text-decoration: underline;
  top: 0;
  left: 0;
  padding: 20px;
  line-height: 2.5;
  width: 500px;
  height: 500px;
  background-color: rgb(144, 150, 156);
  opacity: 0.8;
}

.slate-canvas__item-title {
  position: absolute;
  top: 5px;
  left: 10px;
  color: greenyellow;
}

canvas {
  /*margin: 100px;*/
}

textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
}